//!fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

//!variables
$gradient:linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);

//! Zero styles
@import 'nullstyle.scss' ;
body {
width: 100%;
height: 100%;
}

.wrapper{
	min-height: 100%;
	display: grid;
	grid-template:minmax(100px, auto) 1fr minmax(351px ,auto) / 1fr;
	grid-template-areas: "header"
								"content"
								"footer"
	;
}

//-------------------------------------header--------------------------------//
.header {
& *{
	z-index: 3;
}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
background-color: #fff;

height: 100%;
		z-index: 3;
	}
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	grid-area: header;
	display: grid;
	grid-auto-flow: column;
	grid-template: 1fr / 1fr minmax(auto, 142px) minmax(auto, 538px) minmax(auto, 468px) 1fr;
	align-items: center;
	gap:30px;


}
.footer{
	grid-area: footer;
}

.content{
	grid-area: content;
}
.header__logo {

	grid-column: 2 / 3;
}
.header__menu {
	grid-column: 3 / 4;
}
.menu {


}
.menu-container {
	align-items: center;
	justify-content: end;
	display: flex;
	gap: 68px;

}
//!Menu-burger
@media (max-width:1120px){


.menu-container{
	display: flex;
	flex-direction: column;
	min-height: 50%;
	justify-content: space-between;
	transform: translate(0%, 10%);
}


	.header{
		& *{
			z-index: auto;
		}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 3;
	}
		display: flex;
		justify-content: space-between;
		padding:20px;
		
	}
	.menu__burger{
display: block;
		z-index: 3;
		&.active{
			&:before{
				transform: rotate(45deg);
				top: 50%;
			}
			& div{
				transform: translate(0%, -50%) scale(0);
			}
			&::after{
				top: 50%;
				transform: rotate(-45deg);
			}
		}
		position: relative;
		width: 40px;
		height: 40px;
		order: 3;
		align-self: end;
		position: relative;
		left: 75%;
		transform: translate(-100%, 0);
		&:before{
			transition:all 0.5s ease;
			content: '';
			display: inline-block;
			width: 100%;
			background: #666;
			height: 5px;
			position: absolute;
			top: 0;
			left: 0;
		}
		& div{
			transition:all 0.5s ease;
			display: inline-block;
			width: 100%;
			background: #666;
			height: 5px;
			position: absolute;
			font-size: 30px;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%) scale(1);
		}
		&:after{
			transition:all 0.5s ease;
			content: '';
			display: inline-block;
			width: 100%;
			background: #666;
			height: 5px;
			position: absolute;
			top: 100%;
			left: 0;
			transform: translate(0%, -100%);
		}
	}
	.header__logo{
position: relative;
z-index: 5;
	}
	.header__form{
		order: 2;
		z-index: 3;
	}
	.header__menu{
		order: 3;
	}
	.menu__list.menu__list_active{
		transition:top  0.7s ease-in-out 0s;
		display: flex;
		top: 0;

	}
	.menu__list{
		overflow: hidden;
		display: flex;
transition:top 0.5s ease-in-out 0s;

.menu__item{
	color: #fff;
	font-size: 30px;

}
gap: 100px;

		flex-direction: column;

		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
z-index: 2;
background:linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
	}
	@media (max-height:430px){
		.menu-container{
			display: flex;
			flex-direction: row;
			transform: translate(0%, 30%);
			
		}
		.menu__item{
			font-size: 30px;
		}
	}
}

@media (max-width:770px){
	.menu-container{
		display: flex;
	}
	@media (max-height:480px){
		.menu__list{
			display: flex;
			align-items: center;

		}
		
		.menu-container{
			transform: translate(0%, 15%);
			display: flex;	
			flex-direction: column;
			max-height: 80%;
			.menu__item{
				font-size: 30px;
			}
			& li{
				flex-basis: 50%;
			}
		}
	}
	@media (max-height:420px){
		.menu__list{ 
			justify-content: end;
		}
		.menu-container{
			padding: 0px 20px;
			display: grid;
			grid-template:minmax(auto, 20px) minmax(auto, 20px) 1fr/ repeat(2, 1fr) ;
		}
		.menu__item{
			font-size: 20px;
		}
	}
	form.header__form{
		display: none;
	}
	.menu__burger{
		width: 50px;
		height: 50px;
	}
}
.menu__item {
	font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
color: #333;
}
.header__form {
	position: relative;
	align-items: center;
	grid-column: 4 / 5;
	display: flex;
	justify-content: end;
	gap: 39px;
align-items: center;
}

.header__text{
	font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: center;

}

.header__payment{
display: flex;
gap:4px;

}

.menu-button{
	transition: all 0.5s ease-out;
	transform: rotate(0deg);
	&.menu-button_active{
		transform: rotate(180deg);
	}
}

.select{
	transition: opacity .5s ease-in, top .5s ease-in 0.3s;
	opacity: 0;
	z-index: 10000;
background: #fff;
	& ul {
		width: 100%;
		height: 100%;
	}
	& li{
		&:first-child{
			border-bottom: 1px solid #E0E0E0;
		}
		&:hover{
			background:linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
			a{
				color: #fff;
			}
		}
		width: 100%;
		height: 50%;
		padding: 5px 10px;
		}
	& a{
		font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
color: #333333;
	}
	
	border: 1px solid #E0E0E0;
	border-radius: 5px;

	flex-basis: 100%;
	width: 142px;
	height: 62px;
	position: absolute;
	top: 59px;
left: 50%;
transform: translate(0% ,50%);
}
.select.select_active{
	top: 39px;
	transform: translate(0%, 50%);
	display: flex;
	opacity: 1;
	z-index: 10000;
}

.button {
	transition: all 0.5s ease-in-out;
	&:hover{
		box-shadow: 3px 5px 3px skyblue;
	}
		animation: shine 2s infinite ease;
	width: 157px;
	height: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
	background-size:1000%;
border-radius: 100px;
& span{
	font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
color: #fff;
text-transform: uppercase;
}
}


.header__button {
	
}

.menu__burger{

}



//----------------------------------------------------intro----------------------------------------//
.purple-bg{
	animation: shine 3s infinite ease-in-out;
	background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
	background-size:800%;
}
.intro {
	position: relative;
	z-index: 1;
	gap: 130px;
	display: grid;
	grid-template: 1fr minmax(auto, 338px) minmax(auto, 237px) / 1fr;
	min-height: 750px;
}
.intro__content {
	height: 100%;
	grid-row: 2 / 3;
	display: grid;
	grid-template:1fr / 1fr  minmax(auto, 1230px)  1fr;
}
.block-conainer {
	grid-column: 2 / 3;
	align-items: center;
padding: 0px 20px;
	display: flex;
	justify-content: space-between;

}
.block-conainer__item {
	flex-basis: 50%;
}
.intro__texts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& *{
		padding: 10px 0px;
	}
}
.intro__title {
	h2{
		color: #fff;
font-family: Open Sans;
font-size: 40px;
font-weight: 300;
line-height: 54px;
letter-spacing: 0px;
	}
}

.intro__subtitle {
	h3{
		font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
color: #fff;
	}
}
.intro__button {
	width: 157px;
	height: 54px;
	background: #fff;
	border-radius: 100px;
	span{
		text-transform: uppercase;
		font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
		background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
	}
}
.intro__image {
	position: relative;
	padding: 0px 0px 78% 0px;
	 img{
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.intro__limiter {
	transform: translateY(20%);
	position: relative;
	z-index: 1;
	grid-row: 3 / 4;

}

.limiter img{
	width: 100%;
	height: 100%;

	overflow: hidden;
}

//!Intro adaptive 1120px
@media (max-width:1120px){
	.purple-bg{
		background-size: 1000%;
	}
	.intro{
		margin-bottom: 100px;
		max-height: 800px; 
		padding-top: 30px;
		min-height: 100px;
	}
	.block-conainer__item{

	}
	.block-conainer{
			& *{
				text-align: center;
			}
	}
	.intro__subtitle h3{
		text-align: center;
	}
	.intro__button{
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.intro__image img{

	}
}

//!Intro and adaptive height
@media (max-height:680px){

		.intro{
			padding-top: 50px;
			grid-template: 1fr minmax(auto, 247px) / 1fr;
		}
		.intro__content{
			grid-row: 1 / 2;
		}
		.intro__limiter{
			grid-row: 2 / 3;
		}
}
//!Intro adaptive mobile
@media (max-width:720px){
	.purple-bg{
		background-size:2000%;
	}
	.intro{
		padding-top: 50px;
		grid-template: 1fr minmax(auto, 247px) / 1fr;
	}
	.intro__content{
		grid-row: 1 / 2;

	}
	.intro__limiter{
		grid-row: 2 / 3;

		
	}
}

@media (max-width:321px){
	.intro__limiter{
		transform: translateY(-50%);
	}
}




//---------------------------welcome--------------------------------------//
.welcome{
	margin-bottom: 50px;
	z-index: 2;
	position: relative;
}
._content{
	display: grid;
	grid-template: 1fr / 1fr minmax(auto ,1230px) 1fr;
}
	
.welcome__texts {
	display: flex;
	flex-direction: column;
	gap: 36px;
}


//!adaptive welcome
@media (max-width:1120px){
	.welcome{
		max-height: 800px; 
		padding-top: 30px;
		min-height: 100px;
		margin-bottom: 300px;
	}
	.welcome__texts{
	

	}

	

	.welcome .block-conainer{
		display: grid;

		grid-template:1fr 1fr / 1fr ;
	}

	.block-conainer__item{
		flex-basis: 100%;
		&:first-child{
			order: 2;
		}
		&:last-child{
			order: 1;
		}
	}
	.block-conainer{
		flex-direction: column;
		align-items: center;

	}
	.welcome__title{
		
	}
	.welcome__subtitle h3{
		text-align: center;
		
	}
	

}


@media (max-width:444px){
	.welcome__subtitle p{
		font-size: 17px;
		letter-spacing: 0.2px;
		font-weight: 500;
	}
	}
	@media (max-width:390px){
		.welcome{
			margin-bottom: 400px;
		}
	}
	@media (max-width:320px){
		.welcome__img{
			img{
				transform: translate(22%, -180%);
			}
		}
		}
		


		//! Adaptive for header
		@media (max-width:400px){
			.wrapper{
				display: grid;
				grid-template:minmax(auto, 70px) 1fr minmax(351px ,auto) / 1fr;
				grid-template-areas: "header"
											"content"
											"footer"
				;
			}
		}


		//! Custom span colors
		.white {
			font-family: Poppins;
			font-size: 40px;
			font-weight: 700;
			line-height: 60px;
			letter-spacing: 0px;
			text-align: left;
		}
		.black{
			font-weight: 700;
		}



		//----------------------------------------------------block table----------------------------------//
		.table {
			display: grid;
			grid-template: minmax(auto, 423px) 1fr minmax(auto, 249px);
		}
		.table__limiterf {
			transform: translateY(-20%);
			position: relative;
			z-index: 1;
		}
		.limiter {
		}
		.table__content {
			display: grid;
			grid-template: 1fr / 1fr minmax(auto, 1158px) 1fr;
		}
		.table__content-main {
			border-radius: 30px;
			padding: 0px 20px;
			background: #fff;
			grid-column: 2 / 3;
			display: grid;
			grid-template: minmax(auto, 72px) minmax(auto, 297px) / 1fr;
		}
		.table__titles {
			display: grid;
			padding: 0px 20px;
			grid-template: 1fr / 1fr minmax(auto , 994px) 1fr;
			border-bottom: 1px solid #BBBBBB;
		}
		.table__titles-main {
			display: flex;
			align-items: center;
			grid-column: 2 / 3;
			justify-content: space-between;
			max-width: 100%;
		}
		.table__title {
			h3{
				text-transform: uppercase;
				font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0px;
text-align: left;
background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
			}
		}
		.table__data {
			display: grid;
			grid-template: 1fr minmax(auto, 232px) 1fr / 1fr minmax(auto, 974px) 1fr;
			padding: 30px 0px;
		}
		.table__data-main {

			grid-column: 2 / 3;
			grid-row: 2 / 3;
			display: flex;
			justify-content: space-between;
		}
		.table__column {
			&:first-child{
				align-self: center;
				transform: translate(0%, -35%);
			}
			margin: 0px -50px;
			flex-basis: 33%;
			display: flex;
			flex-direction: column;
			gap: 34px;
		}
		.table__subcolumn {
			padding: 0px 50px;
			justify-content: space-between;
			display: flex;
			gap: 13px;
		}
		.table__subcolumn-item {
			display: flex;
			text-align-last: left;
			justify-content: space-between;
			gap: 16px;
			align-items: start;
			&:first-child{
				flex-basis: 30%;
				align-items: center;
				display: flex;
			}
			&:last-child{
				display: flex;
				justify-content: space-between;
				flex-basis: 60%;
				flex-direction: column;
				transform: translate(0%, 40%);
			}
			span{
				font-family: Poppins;
font-size: 14px;
font-weight: 400;

letter-spacing: 0px;
text-align: left;
color: #333;
			}
			span.black{
				font-weight: 700;
			}
		}
		.table__subcolumn-element {
			flex-basis: 50%;
		}
		.black {
		}
		.table__limiterl {
			transform: translateY(20%);
			position: relative;
			z-index: 1;
		}

		.left{
				text-align:left;
			transform: translate(-50%, 0%);
		}

		.table__item-second{
		
			&:first-child{
				flex-basis: 30%;
			}
			&:last-child{
				flex-basis: 30%;
			}
			justify-content: space-between;
			display: flex;
			border: 1px solid #000;
		}

		.table__column-second {
			span{
				font-family: Poppins;
				font-size: 14px;
				font-weight: 400;
				
				letter-spacing: 0px;
				text-align: left;
				color: #333;
				&.black{
					font-weight: 700;
				}
			}
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.table__subcolumn-second {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&:first-child{
				align-items: start;
				.table__subcolumn-item-second:last-child{
					span.black{
		
					}
				}
			}
		}

		.table__subcolumn-element-second {
		}
		.table__subcolumn-item-second {
			display: flex;
			align-items: center;
			gap: 15px;
			&:last-child{
				flex-direction: column;
			}
		}
		.black {
		}
		.left {
		}

		.table__column-third {
			display: flex;
			flex-direction: column;
			span{
				font-family: Poppins;
				font-size: 14px;
				font-weight: 400;
				
				letter-spacing: 0px;
				text-align: left;
				color: #333;
				&.black{
					font-weight: 700;
				}
			}
		}
		.table__subcolumn-third {
			&:first-child{
				flex-basis: 70%;
				border-bottom:1px #bbbb solid;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.table__subcolumn-item-third{
					padding: 20px 0px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
				}
			}
			&:last-child{
				flex-basis: 30%;
			}
		}
		.table__subcolumn-item-third {
			display: flex;
			gap: 5px;
			padding: 10px 0px;
		}
		.black {
		}

		//! Adaptive block table
		@media (max-width:1120px){
			.table__content-main{
				transform: scale(0.8);
			}
		}
		@media (max-width:1000px){
			.table__content-main{
				grid-column: 1 / 2;
				width: 100%;
				height: 100%;
			}
			.table__content{
				display: flex;
			}

		}

	@media(max-width:830px){
		.table{
			display: none;
		}
	}



	//-------------------------------------block experience-----------------------------------------//
	.experience__img{
		position: relative;
		padding: 0px 0px 80% 0px;
		 img{
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.experience {
		margin-bottom: 100px;
		z-index: 2;
		position: relative;
	}
	.experience__content {
		
	}
	._content {
	}
	.block-conainer {
		gap: 20px;
	}
	.block-conainer__item {
		display: flex;
		flex-direction:column;
		&:first-child{
			gap: 30px;
		}
	}


	.title{
		position: relative;
	h2{
		font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0px;
text-align: left;
background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
	}
	&::after{
		content: '';
		width: 50px;
		height: 6px;
		display: inline-block;
		position: absolute;
		top: 90%;
		border-radius:5px ;
		left: 0;
		background: #e34b7b;

	}
	}
	.trade__title.title{
		&::after{
			content: '';
			width: 50px;
			height: 6px;
			display: inline-block;
			position: absolute;
			top: 90%;
			border-radius:5px ;
			left: 50%;
			background: #e34b7b;
			transform:translate(-50%, 0%)
	
		}
	}

	.img{
		position: relative;
		padding: 0px 0px 68% 0px;
		 img{
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		&.experience__img{
			padding-block-end: 80%;
		}
	}

	.subtitle{
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 0px;
		text-align: left;
		color: #333333;
	}
		@media (max-width:1120px){
			.experience .block-conainer{
				display: grid;
				gap: 150px;
				grid-template:1fr 1fr / 1fr ;
			}

			.welcome .block-conainer{
				display: grid;
				gap: 150px;
				grid-template:1fr 1fr / 1fr ;
			}
		
			.experience  .block-conainer__item{
				flex-basis: 100%;
			&:first-child{
				grid-row:1 / 2;
			}
			}
			.welcome .block-conainer__item{
				flex-basis: 100%;
			}
		.title{
			h2{
				text-align: center;
			}
			&::after{
				left: 50%;
				transform: translate(-50%, 0%);
				top: 110%;
			}
		}
		.subtitle h3{
			text-align: center;
			
		}
		.header__button, .experience__button, .welcome__button{
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}

		 .img {

			order: 2;
			grid-row: 2 / 3;
			position: none;
			display: flex;
			img{
				position: none;
				width: 70%;
				height: 70%;
				transform: translate(22%, -50%);
			}

		}
		.header__button {
			position: none;
			top: 0;
			left: 0%;
			transform: translate(0%, 0%);
		}
	}

	@media(max-width:560px){
		.welcome .block-conainer{
			display: grid;
			grid-template:none;
			gap: 150px;
		}
		.experience .block-conainer{
			display: grid;
			grid-template:none;
			gap: 150px;
		}
	}

	//! Smoth animation for pictures
	.img{
		transition:transform .3s cubic-bezier(.65,.04,.43,1.15);
		&:hover{
			transform: scale(1.1);
		}
	}
	.intro__image{
		transition:transform .3s cubic-bezier(.65,.04,.43,1.15);
		&:hover{
			transform: scale(1.1);
		}
	}

	//! Smooth animation of buttons and background
@keyframes shine{
	0%{
		background-position-x: 0%;
	}
	50%{
		background-position-x: 100%;
	}
	100%{
		background-position-x: 0%;
	}
}

//----------------------block trade---------------------------------------//
.trade {

	margin-bottom: 242px;
	max-height: 621px;
	display:grid;
	grid-template: minmax(auto, 524px) / 1fr;
}
.trade__content {
	display: flex;
	flex-direction:column;
	justify-content:space-between;

}
.trade__main {

	justify-self: flex-end;
	display:grid;
	padding: 15px;
	grid-template:1fr / 1fr minmax(auto, 980px) 1fr;
}
.trade__main-container {
	grid-column:2 / 3;
}
.trade__table {
	box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: relative;
	z-index:2;
	display:grid;
	grid-template: 1fr minmax(auto, 365px) 1fr / 1fr minmax(auto, 587px) 1fr;
	background:white;
	transform: translate(0%, 25%);
	border-radius:30px;
}
.trade__table-content {
	grid-row:2 / 3;
	grid-column:2 / 3;
	display: flex;
	flex-direction:column;
	gap: 77px;
}
.trade__title {
	align-self:center;
}
.title {
}
.trade__columns {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.trade__column {
	padding-inline:10px;
	position: relative;
	z-index: 4;
	width: 262px;
	height: 226px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient( white , white) padding-box, 
								linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%) border-box;
	border-color: transparent;
	border-width:1px;
	border-radius:15px;
	border-style: solid;
	display: flex;
	align-items: center;
}
.trade__column-item {
	position: relative;
	z-index: 1;
	background: white;
	display:flex;
	width: 100%;
	height: 74%;
	flex-direction:column;
	align-items:center;
	gap:50px;
	justify-content:center;
}
.trade__icon {
	img{
		height: 50px;
		width: 50px;
	}
}
.trade__des {
	p{
		font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color:#333;
	}
}
.trade__limiter {
	transform:translate(0%, -25%);
	position: relative;
	padding:0px 0px 28% 0px;
	img{
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit:cover;
	}
}

//! Adaptive for block trade
@media(max-width:1120px){
	.trade__limiter {
		transform: translate(0%, -50%);
	}
	.trade__table{
		transform: translate(0%, 15%);
	}
}
@media(max-width:752px){
	.trade__limiter{
		padding: 0px 0px 48%;
	}

}
@media(max-width:624px){

	.trade{
		max-height:1101px;
	}
	.trade__table{
		transform: translate(0px, 20px);
		grid-template: 1fr minmax(auto, 587px) 1fr / 1fr minmax(auto, 365px) 1fr;
	}
	.trade__columns{
		gap: 20px;
		transform:translate(0%, -10%);
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
	}
	.trade__limiter{
		padding: 0px 0px 68% 0px;
		transform: translate(0%, -60%);
	}
	.trade__title.title{
		line-height: 20px;
		&::after{
			content: '';
			width: 50px;
			height: 6px;
			display: inline-block;
			position: absolute;
			top: 100%;
			border-radius:5px ;
			left: 50%;
			background: #e34b7b;
			transform:translate(-50%, 0%)
	
		}
	}
}
@media(max-width:380px){
	.trade__title{
		h2{
			line-height: 50px;
		}
	}
}

//! Rotatable cards
.backside{
}
.backside-btc, .backside-card {

	transform: scaleX(-1);
	transition:all ease-in .2s;
	opacity: 0;
	position: absolute;
	top: 7%;
	z-index: 1;
	background:white;
	left: 0;
	width: 95%;
	height: 88%;
	display:flex;
	flex-direction:column;
	gap:50px;
	align-items: center;
	padding: 10px;
	justify-content: center;
&.active{
	opacity: 1;
}
		}
.backside-btc__title, .backside-card__title {

	h2{
		line-height: 30px;
		font-size: 25px;
	}
	&:after{
		top: 120%;
		left: 50%;
		transform:translate(-50%, 0%);
	}
}
.title {
}

.button {
}
.trade__column.rotate{

	transform:rotateY(180deg);
	.trade__column-item{
		display:none;
	}
}
//default value
.trade__column{
	transform-style: preserve-3d;
	transition:all .5s ease-in-out 0s;
	transform:rotateY(0deg);
}


//---------------------block blog---------------------------------------//
.blog {
	display:grid;
	grid-template:1fr / 1fr minmax(auto, 1230px) 1fr 
}
.block__conainer {

	grid-column: 2 / 3;
	display: flex;
	flex-direction:column;
	gap:40px;
}
.block__conainer-item {
}
.blog__texts {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	gap: 20px;
}
.blog__title {
	&:after{
		left:50%;
		transform:translate(-50%, 0%);
	}
}

.cards {
	padding-inline:20px;
	display:flex;
	justify-content: space-between;
	gap:3%;
	position: relative;

}
.cards__item {
	padding-inline:10px;
	transition:all .5s ease;
	&:hover{
		.cards__button:before{
			opacity:1;
		}
		position: relative;
		transform:scale(1.1);
		.cards__date span{
			color:#333;
		}
		.cards__title h2{
			background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		.cards__description p{
			color: #333;
		}
		
	}
	padding-block:20px;
	flex-basis:30%;
	border: 1px solid #888888;
	border-radius: 15px;
	display: grid;
	grid-template: 1fr minmax(auto, 220px) 1fr / 1fr minmax(auto, 269px) 1fr;
}
.cards__item-content {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}
.cards__date {
	align-items: center;
	text-transform: uppercase;
	span{
		font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
color: #888888;
	}
	display: flex;
	gap: 5px;
}

.cards__title {
	h2{
		color:#888888;
		font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

	}
}
.cards__description {
	p{
		font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
color:#888888;
	}
}
.cards__button {
	background:#888888;
	position: relative;
	span{
		z-index: 2;
	}
}

.cards__button:before{
	content: '';
	position: absolute;
	z-index: 1;
	border-radius:100px;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:$gradient;
	
}

//! Adaptive for block blog
@media(max-width:1120px){
	.cards{

		display:grid;
		grid-template: repeat(auto-fit, 33%) / 1fr minmax(auto, 66%) 1fr;
		gap: 20px;
	}
	.blog__texts{
		padding-inline:10px ;
		& span{
			text-align: center;
		}
	}
	.cards__item{
		grid-column:2 / 3;
		flex-basis: 33.33%;
		display: grid;
		grid-template: 1fr / 1fr;
		
	}
	.cards__item-content{
		grid-row:1 / 2;
		gap:10px;
		grid-column:1 / 2;
	}
}

@media(max-width:500px){
	.cards{
		grid-template:repeat(auto-fit, 33%) / 1fr minmax(auto, 100%) 1fr;
	}
}